<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestones</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('../partials/_navbar') %>
<main>
<h1>Milestones</h1>
<section>
<div id="flightCard">
<ul>
  <% milestones.forEach(m => { %>
    <div id="slot">
    <h2 class="text-xl font-semibold text-gray-700 mb-2"><strong><%= m.type %></strong> - <%= m.status %></h2>
    <li>
      <a href="/users/<%= userId %>/milestones/<%= m._id %>">
        <strong><%= m.type %></strong> - <%= m.status %>
      </a>
    </li>
</div>
  <% }) %>
</ul>
</div>

<a href="/users/<%= userId %>/milestones/new">Add New Milestone</a>
</section>
</main>
</body>
</html>