<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight Session</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar') %>
<main>
<h1>Edit Flight Session</h1>
<section>
<div id="flightCard">
<form action="/users/<%= userId %>/sessions/<%= session._id %>?_method=PUT" method="POST">
  <label>Date:</label>
  <input type="date" name="date" value="<%= session.date.toISOString().split('T')[0] %>" required><br>

  <label>Duration (hours):</label>
  <input type="number" name="duration" value="<%= session.duration %>" required><br>

  <label>Focus Area:</label>
  <input type="text" name="focusArea" value="<%= session.focusArea %>" required><br>

  <label>Notes:</label>
  <textarea name="notes"><%= session.notes %></textarea><br>

  <button type="submit">Update Session</button>
</form>
</div>
<br><br>
<div class="cta-container">
  <a href="/users/<%= user._id %>/sessions/new" class="btn cta-btn">Log Session</a>
</div>
</section>
</main>
</body>
</html>