<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Sessions</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar') %>
<main class="">
<h1>Flight Sessions✈️</h1>
<section>
<div id="flightCard">
<ul>
  <% sessions.forEach(s => { %>
    <a href="/users/<%= userId %>/sessions/<%= s._id %>">
    <div class="slot-box">
    
    <h2 class=""><strong><%= s.date.toDateString() %></strong> - <%= s.focusArea %></h2>
  
    </div></a>
  <% }) %>
</ul>
</div>
<div class="cta-container">
  <a href="/users/<%= user._id %>/sessions/new" class="btn cta-btn">Log Session</a>
</div>

</section>
</main>
</body>
</html>