<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar') %>

<h1>Flight Sessions</h1>

<ul>
  <% sessions.forEach(s => { %>
    <li>
      <a href="/users/<%= userId %>/sessions/<%= s._id %>">
        <strong><%= s.date.toDateString() %></strong> - <%= s.focusArea %>
      </a>
    </li>
  <% }) %>
</ul>

<a href="/users/<%= userId %>/sessions/new">Add New Session</a>

</body>
</html>