<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session on <%= session.date.toDateString() %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar') %>
<main class="">
    <br>
<h1>Session on <%= session.date.toDateString() %></h1>
<section>
<div id="flightCard">
<p><strong>Duration:</strong> <%= session.duration %> hours</p>
<p><strong>Focus Area:</strong> <%= session.focusArea %></p>
<p><strong>Notes:</strong> <%= session.notes || 'N/A' %></p>

<a href="/users/<%= userId %>/sessions/<%= session._id %>/edit">Edit</a> |
<form action="/users/<%= userId %>/sessions/<%= session._id %>?_method=DELETE" method="POST" style="display:inline;">
  <button type="submit">Delete</button>
</form>
</div>
<br><br>
<div class="cta-container">
  <a href="/users/<%= user._id %>/sessions" class="btn cta-btn">Back to Flight Sessions</a>
</div>
</section>
</main>
</body>
</html>